// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#logo {
	padding-top: 30px;
	padding-bottom: 30px;
}

#page_loading {
	display: none;
	margin-top: 30px;
}

#results_container {
	padding-top: 30px;
}